body { font-family: Ubuntu, sans-serif; font-size: 14px; box-sizing:border-box; height: auto; display:flex; align-items:center;justify-content:center;}
.gridarea {
	display: grid;
	grid-gap: 7px;
	max-width: 760px;
	grid-template-columns: 1fr;
	grid-template-areas:
    "header"
		"nav"
		"main"
		"footer";
	}

header, nav, main, footer {
	border: 1px solid #333;
	box-shadow: 0 0 10px #161414;
}

header {
	background-color:rgb(140, 212, 224);
	display: grid;
	grid-template-columns: 100px 1fr;
	padding: 3px;
	grid-area: header;
	justify-content:center;
	align-items:center;
	text-align: center;
	border: none;
	}

p {
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
}

footer {
	background-color: black;
	display: grid;
	color: rgb(232, 233, 227);
	padding: 10px;
	font-size:large;
	grid-area: footer;
	text-align:center;
}

	
		header {
	  background-color: #b2d6e0;
	  grid-template-columns: 200px 1fr;
  }
	
h2 {text-align: center;
		align-items: center;
		justify-content: center;
}	
	
p {
	text-align: center;
	align-items: center;
	justify-content: center;
}

	h1 {font-size: 2rem;}
	.icon {width: 80px; height: auto; }
  .bimage { width: 200px; height: auto;}
	
	

body {
	font-size: 16px;
	font-family: "Sansita", Ubuntu, sans-serif;
}
/* phone or baseline views */
main {
	max-width: 767px;
	margin: auto;
	display: grid;
	grid-template-columns: 1fr;
	font-size: 0.8rem;
}

.colimage {box-shadow: #161414;}

main section {
	margin: 0.1rem;
	border: 1px solid #bbb;
	padding: 0 1rem;
	background-color: #e2dcdc;
	display: grid;
}

main section h2 {
	color: #536878;
	width: 200px;
  margin: 0.1rem;
	padding: 0.1rem;
	}



.eplimage {
	box-shadow: #090b0e;
}

main section:nth-child(2) {
	display: flex;
	margin: 0.5rem;
}

.eplimage {
	box-shadow: 0 0 30px #090b0e;
	box-sizing: border-box;
}

/* Tablet Views ******************************/
@media only screen and (min-width: 37.5em) {
	main {
		grid-template-columns: 1fr 1fr;
	}

	main section:nth-child(2) {
		display: block;
	}

	main section:nth-child(3) {
		grid-column: span 2;
	}

	main section picture {
		display: block;
	}
	main section picture img {
		width: 100%;
		height: auto;
		border: 1px solid #bbb;
	}
}

/* Desktop Views ****************************/
@media only screen and (min-width: 30em) {
	main {
		grid-template-columns: 1fr 1fr 1fr;
	}
	
	/* This is unncessary !!! The flow is set and the template is set already */
	main section:nth-child(1) {
	  grid-column: 1/2;
  }
	main section:nth-child(2) {
	  grid-column: 2/3;
		grid-row: 1/2;
		display: block;
  }
	/*************************************/

	main section:nth-child(3) {
		grid-column: span 1;
	}
}
