body{
  font-size: 16px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  height: auto; background-color: aliceblue;
}

header{
padding: px;
background-color: rgba(71, 26, 5, 0.945);
color: rgb(255, 153, 0);
text-align: center;
display: grid;
}
  div {
    padding: 0.1rem;
    background-color: rgb(255, 153, 0);
    color: aliceblue;
    border: 5px solid rgb(255, 153, 0);
    text-align: center;
    word-spacing: 25px;
  }

footer {
  background-color: rgba(71, 26, 5, 0.945);
  color: rgb(255, 153, 0);
  text-align: center;
  display: grid;
  border: inset;
  padding: 40px;
}

button {
    background-color: gray;
    color: black;
}

